<table width="80%" cellpadding="0" cellspacing="0" align="center" style="color: #a63546">
  <tbody>
    <tr>
      <td style="text-align: center; padding-bottom: 20px;">
        <p style="padding-top: 10px;"> <b>©2020 - Equipe Gympoint</b></p>
      </td>
    </tr>
  </tbody>
</table>
