<table height="90%" width="80%" align="center" style="font-size: 24px; margin-top: 20px; border-top-left-radius: 4px; border-top-right-radius: 4px; padding: 5px 25px 5px">
  <tbody style="color: #a63546">
    <tr>
      <td style="text-align: center; padding: 0px 20%">
        <h2 style="text-align: center; font-family: 'Pacifico'; margin-top: 30px">
          Olá {{ name }},</h2>
        <p style=" text-align: left; font-family: arial">
          A sua matrícula foi realizada com sucesso. A equipe da <b>Gympoint</b> tem o grande prazer de lhe dar as boas vindas e participarmos na conquista de seus objetivos. Aproveite esta jornada junto dos melhores profissionais ao seu dispor.
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 20%">
        <h3 style="text-align: center; background-color: #fdedef; border-radius: 16px; padding: 60px 25px">
          <img src="http://icon-icons.com/icons2/1129/PNG/96/mobilephone_79875.png" alt="Gympoint Mobile"><br/>
          Não se esqueça de baixar o nosso app para fazer os checkins de seus treinos e tirar as suas dúvidas.
        </h3>
      </td>
    </tr>
  </tbody>
</table>
