<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Gympoint</title>
  </head>
  <body>
   <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color:#222">
     <table height="90%" width="80%" align="center" style="font-size: 24px; margin-top: 20px; border-top-left-radius: 4px; border-top-right-radius: 4px; padding: 5px 25px 5px">
  <tbody style="color: #a63546;">
    <tr>
      <td style="text-align: center; padding: 0px 20%">
        <h2 style="text-align: center; font-family: 'Pacifico'; margin-top: 30px;">
          Olá {{ name }},</h2>
        <p style=" text-align: left; font-family: arial">
          A sua pergunta / dúvida já foi respondida pela nossa equipe no dia {{ date }} às {{ hour }}.
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 20%;">
        <h3 style="text-align: center; background-color: #fdedef; border-radius: 16px; padding: 60px 25px">
          <img src="https://icon-icons.com/icons2/1744/PNG/96/3643728-balloon-chat-conversation-speak-word_113413.png" alt="Gympoint Mobile"><br/>
          Corre lá e acesse o app para conferir a nossa resposta.
        </h3>
      </td>
    </tr>
  </tbody>
</table>


<table width="80%" cellpadding="0" cellspacing="0" align="center" style="color: #a63546">
  <tbody>
    <tr>
      <td align="center" valign="top" style="padding-top: 20px;">
        <table border="0" cellspacing="20" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <a href="#"><img src="https://1stwebdesigner.com/demos/responsive-email-template/img/fb.png" width="32" height="32" style="display:block;"></a>
              </td>
              <td>
                <a href="#">
                  <img src="https://1stwebdesigner.com/demos/responsive-email-template/img/twitter.png" width="32" height="32" style="display:block;"></a>
              </td>
              <td>
                <a href="#">
                  <img src="https://1stwebdesigner.com/demos/responsive-email-template/img/pinterest.png" width="32" height="32" style="display:block;">
                </a>
              </td>
              <td>
                <a href="#">
                  <img src="https://1stwebdesigner.com/demos/responsive-email-template/img/google.png" width="32" height="32" style="display:block;"></a>
              </td>
          </tr>
        </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 20px;">
        <p style="padding-top: 10px;"> <b>©2020 - Equipe Gympoint</b></p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
  </body>
</html>
